---
layout: base-layout.njk
pagination:
  data: data
  size: 10
  reverse: true
---
{% for post in data.blog_post %}
  <article>
    <p class="post-title">
      <a href="/blog/{{ post.slug | url }}">{{ post.title }}</a>
    </p>
    <time datetime="{{ post.created_date | dateIso }}">{{ post.created_date | dateReadable }}</time>
    <p>{{ post.summary }}</p>

    <a href="/blog/{{ post.slug | url }}" aria-label="Read more on {{ post.data.title }}">Read more</a>
  </article>
{% endfor %}