---
layout: base-layout.njk
pagination:
  data: blogposts
  size: 10
  reverse: true
  alias: posts
---
{% for post in posts %}
  <article>
    <p class="post-title">
      <a href="/blog/{{ post.slug | url }}">{{ post.title }}</a>
    </p>
    <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
    <p>{{ post.summary }}</p>

    <a href="{{ post.slug | url }}" aria-label="Read more on {{ post.data.title }}">Read more</a>
  </article>
{% endfor %}