<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>Eleventy Blog</title> 
  <link rel="stylesheet" href="/css/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" type="text/javascript" async=""></script>
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: ['Pontano+Sans::latin'] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })(); 

    document.addEventListener("DOMContentLoaded", function(){
  // Handler when the DOM is fully loaded
      var a = document.getElementById('newsearch');
      a.addEventListener('submit',function(e) {
        e.preventDefault();
        var b = document.getElementById('searchInput').value;
        window.location.href = 'search?s='+b;
      });
    });
    
  </script>
</head> 
<body>
  <div class="main">
    <form id="newsearch" class="search_bar"><input id="searchInput" placeholder="Search"></input></form>
    <header class="header">
        <div class="header-content">
          <div>
            <p class="header-primary">Sean Whitesell</p>
            <p class="header-secondary">Cloud Architect, Microsoft MVP, ASP Insider, and User Group Leader</p>
            </div>
        </div>
    </header> 
    <main> 
        <nav>          
            <a class="{% if '/home' in page.url %}active{% endif %}" href="/">Home</a>
            <a class="{% if '/About' in page.url %}active{% endif %}" href="/About">About</a>
            <a class="{% if '/presentations' in page.url %}active{% endif %}" href="/presentations">Presentations</a>
        </nav>
        {{ content | safe }}
    </main> 
    <footer>Copyright © 2020 Sean Whitesell.</footer> 
  </div>  
</body> 
</html>